__pycache__
cookie.pkl
geckodriver*
geckodriver

.pickled
history.out

tmp*
regenName
OkIGuess
*REFINED.txt
Names
notsure
other_virt.py
regenNames
EasternName
creation_chamber
fng_brut
EasternNames
traits
